.logincontainer{
    flex: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    

}

#logindetails{
    background-color: aliceblue;
    text-align: center;
    margin: 0 auto;
    margin-top: 250px;
    background-color: ;
    padding: 20px;
    width: 40%; 
    height: 25vh;
    border: 1px solid black;
    margin-bottom: 200px; 
}
#submit{
    margin: 10px;
    width: 50px;
    font-size: medium;
    font-family: "Helvetica Neue";


}

#username{
    
    line-height: 2.5;
    

}